@import "tailwindcss";

@font-face {
  font-family: "Jost";
  src: url("/public/fonts/Jost-Regular.ttf")
}

:root {

  margin: 0;
  padding: 0;

  background-image: url('/backgrounds/fondo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  --background: #ffffff;
  --foreground: #171717;
  --primary-purple: #4C1C5E;
  --primary-orange: #E0691F;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--background);
  --font-sans: var(--font-jost-sans);
  --font-mono: var(--font-jost-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Jost, sans-serif;
}